.cdd_color-hdr {
  background-color: #222F3E;
  border: 1px solid black;
}

.cdd_color-green {
  background-color: #57d6b2;
}


.debug {
  background-color: #57d6b2;
  border: 1px solid black;
}

.cdd_color-txt {
  color: white;
}

.cdd_box {
  border: 1px solid black;
}

/* Prova commit */





