/* GENERAL */
.cdd-container {
  width: 60%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #222F3E;
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
}
header ul {
  cursor: pointer;
}

header ul li {
   list-style: none;
   margin-right: 20px;
   font-size: 12px;
   font-weight: bold;
}

header ul li a {
  color: white;
  text-decoration: none;
}

 /* Jumbotron */
 .cdd-jumbotron {
   padding: 30px 0;
 }

 .cdd-jumbotron .container {
   width: 60%;
 }

 #avatar {
   width: 200px;
 }

 .jumbo-text div:first-child {
   text-transform: uppercase;
   font-size: 25px;
   font-weight: bold;
 }

 #jumbo-list li {
   list-style: none;
   text-transform: uppercase;
   font-size: 15px;
   margin-right: 5px;
 }

 #jumbo-list li::before {
   content: '- ';
 }

 
  /* Main */
  /* Portfolio */
 #portfolio {
   padding: 50px 0;
 }

 .portfolio-text {
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
 }

 .card {
   cursor: pointer;
 }

  .ho-card {
    display: none;
    background-color: rgba(30, 173, 136, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .ho-card  i {
    font-size: 80px;
    position: relative;
    top: 105px;
    color: white;
  }

  /* About */
  #about {
    padding: 50px 0;
  }

  #about .about-text {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }


  #about .container .col:last-child {
    color: white;
  }

  #about .container .row .col:first-child {
   width: 44%;
  }

  #about .container .row .col:last-child {
    width: 44%;
  }

  #download {
    margin-top: 20px;
  }

  #download a {
    border: 1px solid white;
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
 
 /* Contact */
 #contact {
  padding: 50px 0;
}

.contact-text {
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
}

.data-row {
  border-bottom: 1px solid lightgrey;
}

.data-row input,
textarea {
  border: 0px;
}

.data-row:nth-child(3) {
  margin-bottom: 10px;
}

.data {
  width: 100%;
  border: 0px
}

input.text-start {
  display: inline-block;
} 

.data-row:last-child{
  border: 0;
}
  

/* Hover / active */
.col.card:hover .ho-card {
  display: block;
}
#download a:hover {
  background-color: #FFFEFF;
  color: black;
} 

/* Star */
.star {
  margin-bottom: 10px;
}

.star::before,
.star::after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  vertical-align: middle;
}


input::placeholder,
textarea::placeholder {
  color: black;
}

#send {
  margin-top: 10px;
  color: white;
  background-color: #1C7159;
}

/* Footer */
footer {
  background-color: #222F3E;
  height: 80px;
}

/* Prova commit */